.elementor-8533 .elementor-element.elementor-element-4d0336a{--display:flex;--flex-direction:column;--container-widget-width:100%;--container-widget-height:initial;--container-widget-flex-grow:0;--container-widget-align-self:initial;--flex-wrap-mobile:wrap;--background-transition:0.3s;}.elementor-8533 .elementor-element.elementor-element-31903fb .jet-table{table-layout:auto;}.elementor-8533 .elementor-element.elementor-element-31903fb .jet-table__head-cell .jet-table__cell-inner{padding:26px 0px 37px 0px;}.elementor-8533 .elementor-element.elementor-element-31903fb .jet-table__foot-cell .jet-table__cell-inner{padding:26px 0px 37px 0px;}.elementor-8533 .elementor-element.elementor-element-31903fb .jet-table__head-cell{border-style:none;vertical-align:middle;font-size:clamp(1.4rem, 1.3538rem + 0.2051vw, 1.5rem);font-weight:700;line-height:1.25em;background-color:var( --e-global-color-primary );}.elementor-8533 .elementor-element.elementor-element-31903fb .jet-table__foot-cell{border-style:none;vertical-align:middle;}.elementor-8533 .elementor-element.elementor-element-31903fb .jet-table__head-cell .jet-table__cell-content{margin-left:auto;margin-right:auto;text-align:center;}.elementor-8533 .elementor-element.elementor-element-31903fb .jet-table__foot-cell .jet-table__cell-content{margin-left:auto;margin-right:auto;text-align:center;}.elementor-8533 .elementor-element.elementor-element-31903fb .jet-table__body-cell{font-size:1rem;font-weight:400;line-height:1.25em;color:var( --e-global-color-primary );background-color:#E6F0FF;border-style:solid;border-width:0 0 0px 4px;border-color:var( --e-global-color-1bb9c41 );border-bottom-width:0;vertical-align:middle;}.elementor-8533 .elementor-element.elementor-element-31903fb tr:nth-child(even) .jet-table__body-cell{background-color:var( --e-global-color-1bb9c41 );}.elementor-8533 .elementor-element.elementor-element-31903fb .jet-table__body-cell .jet-table__cell-inner{padding:20px 0px 20px 0px;}.elementor-8533 .elementor-element.elementor-element-31903fb .jet-table__body-row .jet-table__body-cell:first-child{border-width:0 0 0px 4px;border-bottom-width:0;border-left-width:0;}.elementor-8533 .elementor-element.elementor-element-31903fb .jet-table__body-row .jet-table__body-cell:last-child{border-width:0 0px 0px 4px;border-right-width:0;border-bottom-width:0;}.elementor-8533 .elementor-element.elementor-element-31903fb .jet-table__body-row + .jet-table__body-row .jet-table__body-cell{border-width:0 0 0px 4px;border-bottom-width:0;}.elementor-8533 .elementor-element.elementor-element-31903fb .jet-table__body-row + .jet-table__body-row .jet-table__body-cell:first-child{border-width:0 0 0px 4px;border-bottom-width:0;border-left-width:0;}.elementor-8533 .elementor-element.elementor-element-31903fb .jet-table__body-row + .jet-table__body-row .jet-table__body-cell:last-child{border-width:0 0px 0px 4px;border-right-width:0;border-bottom-width:0;}.elementor-8533 .elementor-element.elementor-element-31903fb .jet-table__body-cell .jet-table__cell-content{margin-left:auto;margin-right:auto;text-align:center;}.elementor-8533 .elementor-element.elementor-element-e04e35e .jet-table{table-layout:auto;}.elementor-8533 .elementor-element.elementor-element-e04e35e .jet-table__head-cell .jet-table__cell-inner{padding:26px 0px 37px 0px;}.elementor-8533 .elementor-element.elementor-element-e04e35e .jet-table__foot-cell .jet-table__cell-inner{padding:26px 0px 37px 0px;}.elementor-8533 .elementor-element.elementor-element-e04e35e .jet-table__head-cell{border-style:none;vertical-align:middle;font-size:clamp(1.4rem, 1.3538rem + 0.2051vw, 1.5rem);font-weight:700;line-height:1.25em;background-color:var( --e-global-color-primary );}.elementor-8533 .elementor-element.elementor-element-e04e35e .jet-table__foot-cell{border-style:none;vertical-align:middle;}.elementor-8533 .elementor-element.elementor-element-e04e35e .jet-table__head-cell .jet-table__cell-content{margin-left:auto;margin-right:auto;text-align:center;}.elementor-8533 .elementor-element.elementor-element-e04e35e .jet-table__foot-cell .jet-table__cell-content{margin-left:auto;margin-right:auto;text-align:center;}.elementor-8533 .elementor-element.elementor-element-e04e35e .jet-table__body-cell{font-size:1rem;font-weight:400;line-height:1.25em;color:var( --e-global-color-primary );background-color:#E6F0FF;border-style:solid;border-width:0 0 0px 4px;border-color:var( --e-global-color-1bb9c41 );border-bottom-width:0;vertical-align:middle;}.elementor-8533 .elementor-element.elementor-element-e04e35e tr:nth-child(even) .jet-table__body-cell{background-color:var( --e-global-color-1bb9c41 );}.elementor-8533 .elementor-element.elementor-element-e04e35e .jet-table__body-cell .jet-table__cell-inner{padding:20px 0px 20px 0px;}.elementor-8533 .elementor-element.elementor-element-e04e35e .jet-table__body-row .jet-table__body-cell:first-child{border-width:0 0 0px 4px;border-bottom-width:0;border-left-width:0;}.elementor-8533 .elementor-element.elementor-element-e04e35e .jet-table__body-row .jet-table__body-cell:last-child{border-width:0 0px 0px 4px;border-right-width:0;border-bottom-width:0;}.elementor-8533 .elementor-element.elementor-element-e04e35e .jet-table__body-row + .jet-table__body-row .jet-table__body-cell{border-width:0 0 0px 4px;border-bottom-width:0;}.elementor-8533 .elementor-element.elementor-element-e04e35e .jet-table__body-row + .jet-table__body-row .jet-table__body-cell:first-child{border-width:0 0 0px 4px;border-bottom-width:0;border-left-width:0;}.elementor-8533 .elementor-element.elementor-element-e04e35e .jet-table__body-row + .jet-table__body-row .jet-table__body-cell:last-child{border-width:0 0px 0px 4px;border-right-width:0;border-bottom-width:0;}.elementor-8533 .elementor-element.elementor-element-e04e35e .jet-table__body-cell .jet-table__cell-content{margin-left:auto;margin-right:auto;text-align:center;}@media(max-width:695px){.elementor-8533 .elementor-element.elementor-element-4d0336a{--padding-top:0px;--padding-bottom:0px;--padding-left:0px;--padding-right:0px;}.elementor-8533 .elementor-element.elementor-element-31903fb > .elementor-widget-container{padding:0px 0px 0px 0px;}.elementor-8533 .elementor-element.elementor-element-31903fb .jet-table__head-cell{line-height:1em;}.elementor-8533 .elementor-element.elementor-element-e04e35e > .elementor-widget-container{padding:0px 0px 0px 0px;}.elementor-8533 .elementor-element.elementor-element-e04e35e .jet-table__head-cell{line-height:1em;}}/* Start custom CSS for container, class: .elementor-element-4d0336a *//* table head */
.comparison-table-new .table-sub_title {
    font-size: 12px;
    font-weight: 400;
    line-height: 16px;
    width: 135px;
    display: block;
    margin: 0 auto;
}

.comparison-table-new thead tr:first-child th{
    width: 25%;
}

.comparison-table-new thead tr:first-child th:first-child{
    background: white !important;
    color: #0064ff;
    vertical-align: bottom !important;
}

.comparison-table-new thead tr:first-child th:first-child .jet-table__cell-inner{
    padding: 0 0 21px 0 !important;
}

.comparison-table-new thead tr:first-child th:first-child .jet-table__cell-content {
    margin: 0 16px 0 16px !important;
}

.comparison-table-new thead tr:first-child th:nth-child(2){
    border-radius: 4px 0px 0px 0px;
}

.comparison-table-new thead tr:first-child th:last-child{
    border-radius: 0px 4px 0px 0px;
}


/* Most Popular */
.most-popular {
    width: 172px;
    font-size: 12px;
    font-weight: 600;
    background: #13c640;
    padding: 10px 20px;
    border-radius: 25px;
    position: absolute;
    bottom: -18px;
    left: 50%;
    transform: translate(-50%, 0);
    z-index: 2;
}

.comparison-table-new thead tr th{
    position: relative;
    overflow: visible;
}

/* First column */
.comparison-table-new tbody tr td:first-child .jet-table__cell-text {
    font-weight: 700 !important;
    text-align: left;
}


.comparison-table-new tbody tr td:first-child .jet-table__cell-content{
    margin: 0 16px 0 16px !important;
}

/* Alternative button*/
.comparison-table-new tbody tr:last-child td:nth-child(3) button{
    background-color: #13c640;
}
.comparison-table-new tbody tr:last-child td:nth-child(3) button:hover{
    background-color: #44df3d;
}

/* Table Mobile */
@media (max-width: 1024px) {
    .comparison-table-new  tr td:first-child,.comparison-table-new  tr th:first-child {
        position: sticky;
        left: -3px;

        z-index: 3;
    }

    .comparison-table-new  tr:not(:last-child) td:first-child,.comparison-table-new  tr th:first-child{
        box-shadow: 0 0.5rem 0.5em rgba(0, 0, 0, 0.4);
    }


    .comparison-table-new table   {
        border-collapse: separate;
    }

    .comparison-table-new{
        overflow-x:scroll !important;
        display: block;
    }

    ::-webkit-scrollbar {
        width: 0;  /* Remove scrollbar space */
        background: transparent;  /* Optional: just make scrollbar invisible */
    }
}/* End custom CSS */
